
    /*
    selector{
        property: value;
        property2: value;
    }
    */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    overflow-y: visible;
}

nav{
    display: flex;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.logo {
    position: absolute;
    left: 50px;
}

.logo a{
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
    transition: 0.2s;
}

.logo a:hover{
    background-color: black;
}

.nav-links{
    position: absolute;
    left: 68%;
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links, .logo, .burger {
    padding-top: 50px;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 14px;
    transition-duration: 0.2s;
}
.nav-links a:hover{
    background-color: black;
}

.burger{
    display: none;
}
.burger div{
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 5px;
}

@media screen and (max-width:1024px){
    .nav-links{
        width: 50%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        width: 30%;
        top: 8vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links a{
        color: white;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }

}

html, body{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    min-height: 100%;
}

.page{
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: white;
    z-index: 200;
}
.header {
    width: 100%;
    height: 8vh;
    top: 0;
    background-color: white;
    z-index: 10;
    opacity: 0.8;
}
.body {
    top: 8vh;
    width: 100%;
    height: 100%;
    padding-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: white;
    z-index: 100;
}

/*
.footer{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: white;
    color: black;
}
*/
.footer-contents {
    padding-left: 50px;
    padding-right: 50px;
    bottom:100%;
}

.footer-contents p{
    float: left;
}

.social-media-footer {
    position: relative;
    float: right;
    top: 50%;
}

.social-media-footer .fa, .social-media-strip .fa {
    padding: 20px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: white;
    color: black;
    background-image: none;
    flex-direction: column;
}
.social-media-footer li, .social-media-strip li{
    list-style: none;
    display: flex;
    flex-direction: column;
    float: left;
    display: black;
}


/*-------------------------------HOME PAGE-----------------------------------*/

.intro{
    top: 100px;
    left: 50px;
    position: relative;
    text-decoration: none;
}

.name{
    top: 110px;
    left: 50px;
    position: relative;
    color: black;
    letter-spacing: 5px;
    text-transform: lowercase;
    font-size: 60px;
}


.description{
    top: 130px;
    left: 50px;
    position: relative;
    text-decoration: none;
}

.disclaimer{
    font-weight: lighter;
    line-height: 30px;
    color: grey;
}

.button {
    top: 200px;
    left: 50px;
    position: relative;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    border-radius: 25px;
    background-color: white;
    color: black;
    border: 2px solid black;

    transition-duration: 0.2s;
}

.button:hover{
    background-color: black;
    color: white;

/*----------------------------------ABOUT--------------------------------------*/}

.me {
    width: 30%;
    margin-left: 150px;
    /* padding-top: 50px; */
    top: 22%;
    position: absolute;
    padding-bottom: 50px;
    }

.rectangle {
    background-color: white;
    border: 2px solid #d5f2f0;
    width: 30%;
    height: 86%;
    margin-left: 125px;
    top: 28%;
    position: absolute;
}

@media screen and (max-width:768px){
    .me{
        float: left;
        left:0%;
        width: 100%;
    }
}

.biography {
    top: 22%;
    left: 50%;
    position: absolute;
    margin-right: 125px;
    line-height: 25px;
}

.about-button {
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    border-radius: 25px;
    background-color: white;
    color: black;
    border: 2px solid black;

    transition-duration: 0.2s;
}

.about-button:hover{
    background-color: black;
    color: white;
}

.social-media-strip {
    margin-left: -18px;
    position: relative;
    float: left;
    top: 50%;
}

.biography h3{
    color: black;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 10px;
    /* text-transform: uppercase; */
}

.biography p {
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.text-link {
    color: black;
}

/*-------------------------------PORTFOLIO-----------------------------------*/

.portfolio-links{
    position: absolute;
    top: 80px;
    left: 46%;
    display: flex;
    justify-content: space-around;
    width: 10%;
}
.portfolio-links li{
    list-style: none;
    text-transform: uppercase;
}

.portfolio-links a{
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    transition-duration: 0.2s;
    cursor: pointer;
}
.portfolio-links a:hover{
    background-color: black;
}

.line {
    width: 20px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 105px;
    left: 46.75%;
}

@keyframes lineRight{
    from {left: 46.75%;}
    to   {left: 51.5%;}
}
@keyframes lineLeft{
    from {left: 51.5%;}
    to   { left: 46.75%;}
}
.line-active{
    left: 51.5%;
}

/* .UXUIdesign {
    margin-left: 100px;
    margin-right: 100px;
} */

.snap-img, .eatery-img{
    width: 25%;
    height: auto;
    padding-bottom: 40px;
    display: inline;
    text-align: center;
    flex-wrap: wrap;
}

.port-h3 {
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 30px;
}
.cs-row {
    top: 140px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0px;
    left: 0%;
    width: 1280px;
    position: absolute;
}
.design {
    top: 140px;
    display: flex;
    flex-wrap: wrap;
    left: 100%;
    width: 1280px;
    position: absolute;
}

.illustration-row {
    /* top: 1500px; */
    display: flex;
    flex-wrap: wrap;
    /* padding: 0 0px; */
    /* left: 100%; */
    width: 1280px;
    /* position: absolute; */
}

.graphic-row {
    display: flex;
    flex-wrap: wrap;
    width: 1280px;
    /* position: absolute; */
}


.column{
    flex: 20%;
    max-width: 20%;
    padding: 0 0px;
}

.graphic-column, .cs-column {
    flex: 25%;
    max-width: 25%;
    padding: 10px;
}

.cs-column {
    padding: 0px;
}

.connect-four-container, .pixel-container, .invaders-container, .weather-container, .vision-container, .fractals-container, .site-container, .snap-container, .eatery-container{
    position: relative;
}

.column img, .graphic-column img, .cs-column img{
    margin-top: 0px;
    vertical-align: middle;
    width: 100%;
    transition-duration: 0.2s;
}

.graphic-column img {
    padding: 10px;
}

.snap-container, .eatery-container {
    display: inline;
}
.snap-caption, .eatery-caption {
    opacity: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -180%);
    font-size: 22px;
    color: black;
    transition-duration: 0.2s;
}

.eatery-caption {
    transform: translate(-50%, -250%);
}

.connect-four-caption, .pixel-caption, .invaders-caption, .weather-caption, .vision-caption, .fractals-caption, .site-caption {
    opacity: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    color: black;
    transition-duration: 0.2s;
}



.snap-container img, .eatery-container img{
    transition-duration: 0.2s;
    transition-delay: 0s;
}

.connect-four-container:hover .connect-four-caption, .pixel-container:hover .pixel-caption, .invaders-container:hover .invaders-caption, .weather-container:hover .weather-caption, .vision-container:hover .vision-caption, .fractals-container:hover .fractals-caption, .site-container:hover .site-caption, .snap-container:hover .snap-caption, .eatery-container:hover .eatery-caption {
    opacity: 1;
}
.connect-four-container:hover .connect-four-img, .pixel-container:hover .pixel-img, .invaders-container:hover .invaders-img, .weather-container:hover .weather-img, .vision-container:hover .vision-img, .fractals-container:hover .fractals-img, .site-container:hover .site-img, .snap-container:hover .snap-img, .eatery-container:hover .eatery-img {
    opacity: 0.1;
}
.pixel-description, .connect-four-description, .invaders-description, .weather-description, .vision-description, .fractals-description, .site-description, .snap-description, .eatery-description {
    font-size: 18px;
}

@keyframes csLeft{
    from { left:0%;}
    to   { left: -1300px;}
}
@keyframes csRight{
    from { left:-1300px;}
    to   { left: 0%;}
}

@keyframes designLeft{
    from { left: 100%;}
    to   { left: 0%;}
}
@keyframes designRight{
    from { left: 0%;}
    to   { left: 100%;}
}

@keyframes designInvisible{
    from { opacity: 1;}
    to   { opacity: 0;}
}
@keyframes designVisible{
    from { opacity: : 0;}
    to   { opacity: : 1;}
}

.cs-inactive{
    left: -1300px;
}
.design-active{
    left: 0%;
}


/*-------------------------------CONTACT-----------------------------------*/

.directions {
    text-align: center;
    top: 50px;
    position: relative;
    color: black;
    text-decoration: none;
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}
.social-media {
    text-align: center;
    top: 80px;
    position: relative;
}

.social-media li{
    padding: 3px;
}
/* for the mail icon */
.social-media img{
    padding: 15px;
    width: 50px;
    background-color: #e6e6e6;
    color: white;
}

.social-media img:hover {
  opacity: 0.7;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect*/
.fa:hover {
  opacity: 0.1;
}

/* Set a specific color for each brand */
.fa-github, .fa-instagram, .fa-linkedin {
  color: white;
  transition: 0.2s;
}

.fa-github {
  background: #211F1F;
}
.fa-instagram {
  background-image: linear-gradient(to bottom left, #515BD4, #8134AF, #DD2A7B, #F58529, #FEDA77);
}
.fa-linkedin {
  background: #0077B5;
}
