::selection {
  background: #4d4d4d; /* WebKit/Blink Browsers */
  color: #eeeeee; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #4d4d4d; /* WebKit/Blink Browsers */
  color: #eee; /* WebKit/Blink Browsers */
}

/* ABOUT PAGE TEXT STYLES */

.heading {
  text-align: left;
  letter-spacing: 0.03em;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.body {
  text-align: left;
  letter-spacing: 0.03em;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  line-height: 1.75;
  color: #1e1e1e
}

.body3 {
  text-align: left;
  letter-spacing: 0.03em;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  line-height: 1.75;
}

.body2 {
  text-align: left;
  letter-spacing: 0.03em;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  line-height: 1.75;
}

Dashed list
ul.dashed {
  padding-left: 0;
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -10px;
}
ul.dashed > li:before {
  content: "- ";
  text-indent: -5px;
}



/* ANIMATIONS */

.button {
  transition: all 0.3s;
  color: #4d4d4d;
  background-color: #fff;
}

.button:hover {
  color: #fff;
  background-color: #4d4d4d;
}

.project .image{
  opacity: 1;
  transition: all .2s;
}

.project .text{
  opacity: 0;
  transition: all .2s;
}

.project:hover .image{
  opacity: 0.1;
}

.project:hover .text{
  opacity: 1;
}

.hoverTag {
  opacity: 0;
  transition: all .2s;
}

.hoverText:hover .hoverTag {
  opacity: 1;
}

.social {
  opacity: 1;
  transition: all .2s;
}

.social:hover {
  opacity: 0.2;
}

/* .line1 {
  transition: transform .35s ease-in-out;
}

@keyframes line1 {
  transform: 
  0% {
    font-size: 10px;
  }
  30% {
    font-size: 15px;
  }
  100% {
    font-size: 12px;
  }
} */

.invisible {
  transition: all 0.2s ease-out;
  visibility: hidden;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.visible {
  transition: all 0.2s ease-out;
  visibility: visible;
  opacity: 0.9;
  height: auto;
}

/* before making adjustments for fixed positioning, line1x tranlated 8 and line3x translated -8 */

.line1 {
  transition: transform .35s ease-in-out;
}

.line1x {
  transform: translateY(8px) rotate(45deg);
  transition: transform 0.35s ease-in-out;
}

.line2 {
  transition: transform .35s ease-in-out;
}

.line2x {
  transform: rotate(45deg);
  transition: transform 0.35s ease-in-out;
}

.line3 {
  transition: transform .35s ease-in-out;
}

.line3x {
  transform: translateY(-8px) rotate(-45deg);
  transition: transform 0.35s ease-in-out;
}