::selection {
  background: #4d4d4d; /* WebKit/Blink Browsers */
  color: #eeeeee; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #4d4d4d; /* WebKit/Blink Browsers */
  color: #eee; /* WebKit/Blink Browsers */
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

#backgroundVideo {
  position: relative;
  z-index: -500;
}

/* NEW TEXT STYLES */
.code {
  font-family: 'Inconsolata', monospace;
}

.tag {
  font-family: 'Inconsolata', monospace;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.12em;
  font-weight: bold;
  color: #4d4d4d;
  padding: 5px 10px;
  width: fit-content;
  /* border: 1px solid rgba(0, 0, 0, 0.25); */
  background-color: #00000010;
  border-radius: 4px;
  cursor: crosshair;
}

.sectionTitle {
  font-family: 'Inconsolata', monospace;
  font-size: 28px;
  /* font-weight: bold; */
  padding: 48px 0px 96px 0px;
  /* width: fit-content; */
}

.linkText {
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  color: #6D0FE5;
  text-decoration: none;
  padding-right: 6;
}

.link {
  transition: all 0.2s;
  background-color: rgba(255, 255, 255, 0);
}

.link:hover {
  transition: all 0.2s;
  background-color: rgba(0, 0, 0, 0.05);
}

.scrollingText {
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my-animation 90s linear infinite;
  -webkit-animation: my-animation 90s linear infinite;
  animation: my-animation 90s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.tag2 {
  font-family: 'Inconsolata', monospace;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.12em;
  font-weight: bold;
  color: #000000;
  padding: 5px 10px;
  width: fit-content;
  background-color: #EDEDED;
}



/* ABOUT PAGE TEXT STYLES */

.heading {
  text-align: left;
  letter-spacing: 0.03em;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.heading2 {
  text-align: left;
  letter-spacing: 0.03em;
  font-size: 24px;
  font-weight: normal;
  text-decoration: none;
  line-height: 1.75;
  color: #1e1e1e
}

.bodyBig {
  text-align: left;
  letter-spacing: 0.03em;
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;
  line-height: 1.75;
  color: #1e1e1e
}

.body {
  text-align: left;
  letter-spacing: 0.03em;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  line-height: 1.75;
  color: #1e1e1e
}

.bodyLight {
  text-align: left;
  letter-spacing: 0.03em;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  line-height: 1.75;
  color: #525252
}

.body2 {
  text-align: left;
  letter-spacing: 0.03em;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  line-height: 1.50;
  color: #1e1e1e
}
.body2Light {
  text-align: left;
  letter-spacing: 0.03em;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  line-height: 1.50;
  color: #525252
}

.aboutBody {
  text-align: left;
  letter-spacing: 0.03em;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  line-height: 1.5;
  color: #1e1e1e
}

/* Dashed list */
ul.dashed {
  padding-left: 0;
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -10px;
}
ul.dashed > li:before {
  content: "- ";
  text-indent: -5px;
}

/* Work section + Gallery titles */
.title {
  letter-spacing: 0.03em;
  font-size: 18px;
  text-decoration: none;
  color: #000000;
  height: 100%;
  padding-bottom: 20;
}


/* ANIMATIONS */

.circleButton {
  transition: all 0.2s;
  border: 1px solid #000;
  width: 42px;
  height: 42px;
}

.circleButton:hover {
  border-bottom: 4px solid #000;
  width: 42px;
  height: 45px;
}

.button {
  transition: all 0.2s;
  border: 1px solid #000;
  padding: 18px 24px;
  margin: 18px 0px;
}

.button:hover {
  border-bottom: 4px solid #000;    /* if border increases by x... */
  margin: 18px 0px 15px 0px;          /* then bottom margin decreases by x! */
}

.imgButton {
  transition: all 0.1s;
  border: 1px solid transparent;
  border-bottom: 4px solid transparent;
}

.imgButton:hover {
  border: 1px solid #000;
  border-bottom: 4px solid #000;
}

/* KINDA WORKS */
.project {
  border: none;
  transition: transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.project:hover {
  border: 1px solid #000;
  border-bottom: 4px solid #000;
  transition: all 0.2 ease-in-out;
}

.project .details{
  transform: translateY(-100%);
  opacity: 0;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s cubic-bezier(0, 1, 0, 1);
}

.project:hover .details{
  transform: translateY(0%);
  opacity: 1;
  max-height: 500px;
  transition: max-height 0.2s ease-in-out;
}

/* SCROLL TO TOP */
.slideOut {
  opacity: 0;
  transform: translateY(100%);
  visibility: hidden;
  transition: all .2s;
}

.slideIn {
  opacity: 1;
  visibility: visible;
  transition: all .2s;
}

/* ABOUT */

.tagInvisible {
  opacity: 0;
  visibility: hidden;
  transition: all .2s;
}

.tagVisible {
  opacity: 1;
  visibility: visible;
  transition: all .2s;
}

.social {
  opacity: 1;
  transition: all .2s;
}

.social:hover {
  opacity: 0.2;
}

.socialLight {
  opacity: 0.4;
  transition: all .2s;
}

.socialLight:hover {
  opacity: 1;
}

/* about popup */
.invisibleBlackTint {
  transition: all 0.2s ease-out;
  visibility: hidden;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.visibleBlackTint {
  transition: all 0.2s ease-out;
  visibility: visible;
  opacity: 0.4;
  height: auto;
}

.invisiblePopup {
  transition: all 0.2s ease-out;
  visibility: hidden;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.visiblePopup {
  transition: all 0.2s ease-out;
  visibility: visible;
  opacity: 1;
  height: auto;
}


.imageBig {
  animation: rainbowRing 20s infinite;
  transform: scale(3,3) translateY(18px);
  transition: transform 0.35s ease-in-out;
  position: fixed;
  box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.25);
}

.imageSmall {
  animation: rainbowRing 20s infinite;
  transition: transform 0.3s ease-in-out;
  border-width: 2px;
}

.imageSmall:hover {
  transform: scale(1.2,1.2) rotate(5deg) translateY(-2px);
  transition: transform 0.0.2s ease-in-out;
}


/* hamburger menu */
.invisible {
  transition: all 0.2s ease-out;
  visibility: hidden;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.visible {
  transition: all 0.2s ease-out;
  visibility: visible;
  opacity: 0.9;
  height: auto;
}

.line1 {
  transition: transform .35s ease-in-out;
}

.line1x {
  transform: translateY(8px) rotate(45deg);
  transition: transform 0.35s ease-in-out;
}

.line2 {
  transition: transform .35s ease-in-out;
}

.line2x {
  transform: rotate(45deg);
  transition: transform 0.35s ease-in-out;
}

.line3 {
  transition: transform .35s ease-in-out;
}

.line3x {
  transform: translateY(-8px) rotate(-45deg);
  transition: transform 0.35s ease-in-out;
}

/* FUN */

/* rainbow */
@keyframes rainbowText {
  0% {
    color: #FF5454;
  }
  
  10% {
    color: #FFDB5E;
  }
  
  20% {
    color: #ECE42E;
  }
  
  30% {
    color: #6CF500;
  }
  
  40% {
    color: #00D789;
  }
  
  50% {
    color: #00FFF0;
  }
  
  60% {
    color: #00A3FF;
  }
  
  70% {
    color: #7241FF;
  }

  80% {
    color: #CC00FF;
  }
  
  90% {
    color: #FF00A8;
  }
  
  100% {
    color: #FF5454;
  }
}

/* rainbow */
@keyframes rainbowRing {
  0% {
    border: 2px solid #FF5454;
  }
  
  10% {
    border: 2px solid #FFDB5E;
  }
  
  20% {
    border: 2px solid #ECE42E;
  }
  
  30% {
    border: 2px solid #6CF500;
  }
  
  40% {
    border: 2px solid #00D789;
  }
  
  50% {
    border: 2px solid #00FFF0;
  }
  
  60% {
    border: 2px solid #00A3FF;
  }
  
  70% {
    border: 2px solid #7241FF;
  }

  80% {
    border: 2px solid #CC00FF;
  }
  
  90% {
    border: 2px solid #FF00A8;
  }
  
  100% {
    border: 2px solid #FF5454;
  }
}

/* gradient ring */
@keyframes gradientRing {
  0% {
    border: 2px solid #00FFF0;
  }
  25% {
    border: 2px solid #64DAFF;
  }
  50% {
    border: 2px solid #7241FF;
  }
  
  75% {
    border: 2px solid #CC00FF;
  }
  100% {
    border: 2px solid #FF00A8;
  }
}

/* gradient text */
@keyframes gradientText {
  0% {
    color: #00FFF0;
  }
  25% {
    color: #64DAFF;
  }
  50% {
    color: #7241FF;
  }
  75% {
    color: #CC00FF;
  }
  100% {
    color: #FF00A8;
  }
}

.rainbow {
  display: inline-block;
  font-weight: medium;
  animation: rainbowText 20s infinite;
  transition: transform 1s ease-in-out;
  transform: translateY(0px) rotate(0deg);
  cursor: crosshair;
}

.rainbow:hover {
  transform: translateY(0px) rotate(1075deg);
  transition: transform 1s ease-in-out;
}

.navLink {
  transition: transform 0.1s ease-in-out;
}

.navLink:hover {
  transform: translateY(-5px);
  transition: transform 0.2s ease-in-out;
}

/* .logoContainer .logo {
  transition: transform 0.3s ease-in-out;
}

.logoContainer:hover .logo {
  transform: scale(1.2,1.2) rotate(-5deg) translateY(-2px);
  transition: transform 0.3s ease-in-out;
} */

.navOpen{
  /* margin-right: 700px; */
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.navClose{
  /* margin-right: 700px; */
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}